*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* ส่วน slider-container */
.slider-container{
    /* border: 2px solid black; */
    position: relative;
    height: 100vh;
    /* สำคัญ ถ้าหากงง ให้ปิด comment ดู */
    /* overflow: hidden; */
}

/* ส่วน left-container */
/* มีการทำงานในส่วน javascript ประกอบด้วย */
/* ทำการใส่ style transform translateY เพื่อเลื่อน */
.left-content{
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease;
}
.left-content div{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.left-content div h1{
    /* border: 1px solid black; */
    font-size: 2rem;
    margin: 10px;
}

/* ส่วน right-container */
/* มีการทำงานในส่วน javascript ประกอบด้วย */
/* ทำการใส่ style transform translateY เพื่อเลื่อน */
.right-content{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 1s ease;
}
.right-content div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ส่วนของปุ่มบน */
.slider-container .action-button .up-button{
    position: absolute;
    top: 43.5%;
    left: 40%;
    font-size: 1.5rem;
}
/* ส่วนของปุ่มล่าง */
.slider-container .action-button .down-button{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 1.5rem;
    transform: translate(-100%);    
}
