@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body{
    background-color: #393838;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* กล่อง movie-container */
.movie-container{
    /* border: 1px solid black; */
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ปรับแต่งส่วน label และ input select */
.movie-container label{
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.movie-container select{
    border: 0;
    outline: none;
    background-color: #ffffff;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 5px;
    appearance: none;
    margin-top: 8px;      
}

/* ส่วนของ showcase */
.showcase{
    /* border: 1px solid black; */
    background-color: rgb(162, 162, 162);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    border-radius: 5px;
}
.showcase li{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 1.2rem;
}
.showcase li small{
    margin-left: 8px;
    color: #000000;
}

/* ปรับแต่งส่วน container และ screen */
.screen{
    background-color: white;
    height: 70px;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 3px 8px rgb(232, 232, 232,0.9);
    transform: perspective(1000px) rotateX(-45deg);
}

/* ปรับแต่งที่นั่ง ที่มี class seat */
.row{
    display: flex;
    border: 1px solid white;
}
.seat{
    background-color: #e1dfdf;
    width: 20px;
    height: 15px;
    margin: 0.2rem;
    border-radius: 5px 5px 0 0;
}
/* ปรับระยะให้สวยงาม เป็นช่องว่างของทางเดิน */
.seat:nth-child(2){
    margin-right: 25px;
}
.seat:nth-last-child(2){
    margin-left: 25px;
}

/* ที่นั่งที่มี class selected */
.seat.selected{
    background-color: rgb(98, 255, 0);
}
/* ที่นั่งที่มี class choosed */
.seat.choosed{
    background-color: rgb(255, 2, 2);
}
/* ที่นั่งทุกที่ ที่ไม่มี class choosed  */
.seat:not(.choosed):hover{
    cursor: pointer;
    transform: scale(1.3);
}

/* กำหนดให้ตอนแสดงจำนวนที่นั่งและจำนวนเงิน เป็นตัวอักษรสีเขียว */
.text span{
    color: rgb(98, 255, 0);
}