*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

/* ส่วนปุ่ม class control*/
.control{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    font-size: 1.1rem;
    color: white;
}
.control:active{
    transform: scale(0.98);
}

.record{
    background-color: red;
}
.pause{
    background-color: blue;
}

/* ส่วน h1 */
.title{
    background-color: rgb(255, 179, 179);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ส่วนแสดงเนื้อหา */
.message{
    background-color: antiquewhite;
    margin: 100px 0;
}
