/* สร้างตัวแปรแบบ global */
:root{
    --primary-color:#2c7f2d;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/* nav แถบเมนู */
nav{
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    border-right: 2px solid black;
    z-index: 100;
    transform: translateX(-200px);
}
/* ใช้ร่วมกับ javascript เพื่อเปิดเมนู*/
body.show-nav{
    transform: translateX(200px);
}
/* มีการกำหนด transition เพื่อให้มีการ fade */
body{
    transition: transform 0.4s ease-in;
}
/* โลโก้ */
nav .logo{  
    /* border: 1px solid black; */
    padding: 30px 0;
    text-align: center;
    
}
nav .logo img{
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* ตกแต่งรายการ list */
nav ul{
    /* border: 1px solid black; */
    margin: 30px 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    padding: 25px;
    border-bottom: 2px solid white;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    border-bottom: 2px solid white;
}

/* header */
header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 40px 0;
    position: relative;
    font-size: 1.3rem;
}
header h1{
    /* border: 1px solid black; */
    margin: 0;
    color: white;
}
header p{
    margin: 30px;
    color: white;
}

/* ตกแต่งปุ่ม */
button , input[type="submit"]{
    background-color: red;
    border: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:active , input[type="submit"]:active{
    transform: scale(0.98);
}
/* ปุ่ม toggle */
.toggle{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    background-color: rgb(0, 0, 0,0.5);
    padding: 5px 8px;
}
.create-account{
    font-size: 1.1rem;
    padding: 10px 25px;
}

/* container เนื้อหา */
.container{
    /* border: 1px solid black; */
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
}

/* ส่วนของ modal แบบฟอร์ม */
.modal-container{
    display: none;
    background-color: rgb(0, 0, 0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modal{
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    width: 100%;
    /* มีการกำหนด animation */
    animation: fadeModal 1s ease paused;
    
}
/* ใช้ร่วมกับ javascript ในการเปิดปิด modal */

.modal-container.show-modal .modal{
    animation-play-state: running;
}
.modal-container.show-modal{
    display: block;
}

@keyframes fadeModal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* ส่วนในการตกแต่งฟอร์ม modal */
.modal-header{
    /* border: 1px solid black; */
    padding: 15px;
    margin-top:5px ;
}
.modal h3{
    margin: 0;
}
/* ปุ่มปิด */
.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    padding: 3px 10px;
}
/* ส่วน content */
.modal-content{
    /* border: 1px solid black; */
    padding: 20px;
}
.modal-content p{
    /* border: 1px solid black; */
    font-size: 1.2rem;
    text-align: center;
}
.modal-form div label{
    display: block;
    margin-bottom: 7px;
}
.modal-form div input{
    margin-bottom: 7px;
    padding: 10px;
    width: 100%;
}

/* ปุ่มบันทึก */
.submit-info{
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 8px;
    width: 100%;
}
